<div>
  <div>
    <% @students.each do |student| %>
        
        <%= "#{student.id}." %>
      
        <a href='<%= "/students/#{student.id}" %>' > 
          <%= student.first_name + " " + student.last_name %>
        </a>


    <% end %>
    <br>
  </div>
</div>